@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Space+Mono&display=swap');
:root{
    --yellow:#f9ca24;
}
*{
    font-family: 'Nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
transition: all .2s linear;
}
*::selection{
    background:var(--yellow);
    color:#333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-track{
    background: #222;

}
html::-webkit-scrollbar-thumb{
   background: var(--yellow);
}
body{
    background: #111;
    overflow-x:hidden;
    padding-left: 35rem;
}
.blink{
    animation: blinkit 5s linear infinite;
}
@keyframes blinkit {
    50%{
        opacity: 0;
    }
}
section{
    min-height: 100vh;
    padding: 1rem;
}
header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width:35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:0.3rem solid var(--yellow);
}
header .user .name{
    font-size: 3.5rem;
    color:#fff;
}
header .user .position{
    font-size: 2rem;
    color:#eee;
}
header .navbar{
    width:100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    color:#fff;
    font-size: 2rem;
    padding: 1rem;
    margin:1.5rem 0;
    background: #333;
    border-radius: 5rem;
}
header .navbar ul li a:hover{
    background: var(--yellow);
}
#menu{
    position: fixed;
    top:2rem;
    right:2rem;
    background: #333;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size:2.5rem;
    color:#fff;
}
.home h1{
    font-size:5rem;
    color:#fff;
}
.home p{
    font-size:2rem;
    color:#eee;
    padding:1rem 0;
}
.home a{
    display: inline;
}
.icon{
    display:flex;
    justify-content: flex-start;
}
.icon a{
    padding:2rem 0;
    margin-right:6rem;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor:pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding:0 0.5rem;
    font-size: 1.8rem;
}
.btn:hover {
    background-color: var(--yellow);
}
.home span{
    color: var(
        --yellow
    );
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;

}


.heading span{
    color: var(--yellow);
}
.timeline{
    position: relative;
  left:20%;
    width:75%;
  margin:20px;
   
}
.timeline-box{
    position:relative;
    margin: 5px;
    min-height: 150px;
    width: 40%;
    left: 5%;
    

}
.timeline-box h3{
    color:white;
    font-size: 2.3rem;
}
.timeline-box img{
    height: 20px;
}
.timeline-box:nth-child(2n){
    left:53%;
}
.timeline-divider{
    position: absolute;
    left:50%;
    height: 75%;
    width:0;
   
    top:10%;
    animation: myanimate 8s linear infinite;
}
.timeline-traveller{
    position: sticky;
    top:25%;
    transform: rotate(90deg);
    

}

.fa-plane {
    color:white;
    size:8rem;
    
}
@keyframes myanimate {
    0%   { top:0;}
    25%  { top:10%;}
    50%  { top:50%;}
    75%  { top:60%;}
    100% {top:200px;transform: rotate(-180deg);}
}
.about .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;

}
.about .row .info h3{
    font-size: 2rem;
    color:var(--yellow);
    font-weight: normal;
}
.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}
.about .row .counter{
    flex:1 1 48rem;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about .row .counter .box{
    width:20rem;
    color:#eee;
    background: #222;
    text-align: center;
    margin:2rem;
    padding: 2rem;
}
.about .row .counter .box .skill-progress{
width:30rem;
background: red;
color:#eee;
}
.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}
.about .row .counter .box h3{
    font-size: 2rem;
    color:#eee;
}

.gallery_list{
    position:absolute;
    margin: 3%;
    padding: 0;
    background:url('https://thumbs.dreamstime.com/b/travel-accessories-top-view-wooden-background-copy-space-adventure-wanderlust-concept-image-84566615.jpg');
    background-size:cover;
    background-repeat:repeat;
    color:#000;
    height: 70vh;
}
.gallery_list li{
    text-align:center;
    margin-top: 20px;
  display:inline-block;
  list-style:none;
  position:relative;
  border:solid 12px #bababa;
  background:#fff;
  box-shadow:0 0 15px 0px #555;
  transition:all 1s ease;
  
  top:50px;
}

.gallery_list li:hover{
    top:0px;
    opacity: 0.5;
}
.gallery_list li:nth-child(n+1){
    transform:rotate(10deg);
}

.gallery_list li:nth-child(2n){
    transform:rotate(20deg);
}
#contact{
    margin-top: 5rem;
}
form label{
    color:white;
    font-size: 3rem;
}
input[type=text], input[type=phone],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
   }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}
@media (max-width:991px){
  header{
    left:-120%;
  }
  #menu{
    display: block;
  }
  header.toggle{
    left:0%;
  }
  body{
    padding:0;
  }
}
@media (max-width:768px){
   html{
    font-size: 50%;
   }
   .gallery_list li:nth-child(n+1){
    transform:rotate(0deg);
    margin-left: 20px;
}

.gallery_list li:nth-child(2n){
    transform:rotate(0deg);
}
.gallery_list img{
    width:100px;
}

  }
  
@media (max-width:400px){
    header{
      width: 100vw;
    }
 .heading{
    margin: 0 3rem;

 }  
 .about .row .counter .box{
    width:100%;
 }
 
  }
  
